html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*{outline: 2px solid black;}*/
body {
  margin: 0 auto;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  line-height: 1.625em;
  text-align: center;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  height: auto; }

header {
  background: url("../img/web22.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header span {
    color: #EFC958; }

.menu {
  background-color: red;
  background-color: rgba(255, 0, 0, 0.278);
  list-style: none;
  text-align: right;
  font-weight: 700;
  margin: 0;
  padding: 1.875em 0.9375em 1.875em 0; }
  .menu li, .menu a {
    padding: 0.625em 1.25em;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.09375em; }

.menu a:hover {
  background-color: #222;
  color: #fff;
  border-radius: 0.25em;
  transition: all .5s linear; }

.design {
  position: absolute;
  z-index: 2;
  top: 5em;
  left: 5em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(0.8);
  transition: all 0.3s linear; }
  .design:hover {
    transform: scale(1);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.topic {
  color: #fff;
  font-size: 3.125em;
  line-height: 1.2em;
  margin-top: 6em;
  margin-bottom: 1.6em;
  padding-left: 0.4em;
  padding-right: 0.4em; }

.topic2 {
  color: #fff;
  font-size: 1.3125em;
  padding-bottom: 14.28571em;
  font-weight: normal; }

main {
  max-width: 60em;
  margin: 0 auto;
  padding: 1.25em; }
  main:before, main:after {
    content: " ";
    display: table; }
  main:after {
    clear: both; }
  main h2 {
    text-transform: uppercase;
    border-bottom: 0.125em solid dimgrey;
    /*margin-left: 60px;
            margin-right: 60px;*/
    line-height: 3.125em; }

article section {
  font-size: 1.25em;
  margin: 2.5em 9em; }

.logo {
  margin: 0;
  padding: 0; }

.topic3 {
  font-size: 2.1875em;
  border-bottom: 0.05714em solid dimgrey;
  text-transform: uppercase;
  margin-left: 7.14286em;
  margin-right: 7.14286em;
  line-height: 1.42857em; }

aside .sec1 {
  float: left;
  max-width: 28.125em; }

aside .sec2 {
  float: right;
  max-width: 28.125em; }

aside .note {
  margin: 0 0 2.5em;
  padding: 1.25em; }

footer {
  font-size: 0.75em;
  background-color: #CD1400;
  color: #222;
  border-top: 0.08333em solid #222;
  margin-top: 6.66667em;
  margin-bottom: 0; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer p {
    float: right;
    margin-top: 0;
    margin-right: 1.25em;
    padding: 1.25em; }
  footer a {
    float: left;
    margin-top: 0;
    margin-left: 1.25em;
    padding: 1.25em;
    text-decoration: none;
    color: #222; }

/*
 * Navigataur: A pure CSS responsive navigation menu
 * original author: Mike King (@micjamking)
 * my changes... Jurajisko
 */
/*
 	Notes:
 
 	- Media queries should be edited in both style sections if you require 
	  a different breakpoint for your navigation.
	  
	- Toggle class & menu anchor tags in list items have box-sizing: border-box 
	  style property to allow padding inside the container without conflicting with layout.	

*/
/*--------------------------------
 Functional Styles (Required)
---------------------------------*/
#toggle, .toggle {
  display: none; }

/* Nicolas Gallagher micro clearfix */
@media only screen and (max-width: 71.875em) {
  .menu {
    display: none;
    opacity: 0;
    width: 100%;
    position: absolute;
    right: 0; }
  .menu > li {
    display: block;
    width: 100%;
    margin: 0; }
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box; }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #toggle:checked + div .menu {
    display: block;
    opacity: 1; } }

/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/
@media only screen and (max-width: 71.875em) {
  .nav {
    float: right;
    padding-top: 3.75em;
    padding-right: 3.125em; }
  .menu {
    max-width: 40%;
    font-size: 100%;
    background-color: red;
    background-color: rgba(255, 0, 0, 0.278);
    border-top: 0.1875em solid #222;
    text-align: left; }
    .menu li, .menu a {
      color: #222;
      transition: 0s; }
  .menu,
  .menu > li,
  .menu > li > a {
    height: auto; }
  .menu > li > a {
    border-bottom: 0.0625em solid #222; }
  .menu > li > a:hover, .menu > li > a:focus {
    border-radius: 0;
    background-color: #222;
    text-decoration: underline;
    color: red; }
  .toggle:after {
    font-size: 0.75em;
    background-color: #222;
    color: #fff;
    content: attr(data-open);
    display: block;
    width: 8.333333333333333em;
    height: 8.333333333333333em;
    padding-top: 3.083333333333333em;
    padding-left: 0.4166666666666667em;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s linear;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5833333333333333em; }
  .toggle:hover:after {
    background: #222;
    color: red; }
  #toggle:checked + div .toggle:after {
    content: attr(data-close);
    letter-spacing: 0.3333333333333333em; } }

@media only screen and (max-width: 60em) {
  main {
    font-size: 0.875em; } }

@media only screen and (max-width: 52.5em) {
  main {
    font-size: 0.75em; }
  .menu {
    max-width: 50%; } }

@media only screen and (max-width: 46.25em) {
  article section {
    margin-left: 1.25em;
    margin-right: 1.25em; }
  .topic3 {
    margin-left: 3.125em;
    margin-right: 3.125em; }
  aside .sec1 {
    float: none;
    max-width: 100%; }
  aside .sec2 {
    float: none;
    max-width: 60em; }
  footer {
    padding-top: 1.25em; }
    footer p {
      float: none; }
    footer a {
      float: none; } }

@media only screen and (max-width: 31.25em) {
  .topic {
    margin-top: 4.8em;
    margin-bottom: 0.8em; }
  .snow {
    top: 58.125em; }
  .nav {
    float: none;
    margin-top: 0;
    padding: 0; }
  .design {
    top: 56.25em;
    left: 1.875em; }
  .menu {
    text-align: center;
    max-width: 100%; }
  .toggle:after {
    text-align: center;
    padding-top: -3.125em;
    width: 100%;
    height: 4.166666666666667em;
    border-radius: 0;
    padding-top: 1.25em; } }
