*{outline: 2px solid black;}

*,*:before, *:after {
	box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

#myModal {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
}

.gallery-set {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.mySlides {
    max-width: 300px;
    border: 10px solid #ffffff;
}

.cover {
    max-width: 100%;
    height: auto;
    position: relative;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/* Next & previous buttons */
.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 170px;
    padding: 16px 0;
    margin-top: -40px;
    font-weight: bold;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, .5);
    opacity: 0.5;
    transition: 0.6s ease;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -48px;
  text-align: right; 
}

.next img {
      rotate: 180deg;
}

.prev {
  left: -48px;
  text-align: left;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    opacity: 1;
}

/* The Close Button */
/* ZAVRETIE LIGHTBOX */
.close {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -16px;
    transition: 0.6s ease;
    opacity: 0.5;
}
  
.close:hover,
.close:focus {
    opacity: 1;
    cursor: pointer;
}
