//
// VARIABLES
// -------------------------------------------------------

$color-bg-page: #fff;
$color-text-h: #f55d4b;
$color-text-navy: #2c3e50;
$color-text-light: #fff ;

$font-size-basic: 100%;
$font-family-1: 'Amatic SC', cursive;
$font-family-2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//
//	MIXINS
// ------------------------------------------------------

// Prepocet na hodnoty EM pre responzivny dizajn!!!
@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}


@mixin box-sizing( $value ) {
	box-sizing: $value;
}


// pre zmenu sirky MAIN bazena v ktorom su dalsie 3 boxy napr: @include main(em(960));
@mixin main( $width ) {
	max-width: $width;
	margin: 0 auto;
}

// @include clearfix; tento zapis pridat k rodicovskemu elementu class ktory ma floatovane deti
@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}


// 
@mixin selection {
	::-moz-selection { @content; }
	::-o-selection { @content; }
	::selection { @content; }
}

//box-sizing

html { @include box-sizing(border-box); }
*, *:before, *:after { box-sizing: inherit; }

// vykreslenie hranic elementov
//*{outline: 2px solid black;}

// CODE

body {
    margin: 0 auto;
    font: {
        family: $font-family-2;
        size: $font-size-basic;
        }
    line-height: em(26);
    text-align: center;
    background-color: $color-bg-page;
    color: $color-text-navy;

    background: url('../img/bckgr1.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -webkit-font-smoothing: antialiased;
}



.about {
    margin: em(30) auto;
    padding: 0 em(30);
    max-width: em(960);
    min-height: em(450);
}

.menu {
    display: block;
    padding: {
        top: em(10);
        bottom: em(10);
        left: 0;
        }
    font: {
        family: $font-family-1;
        size: em(26);weight: 700;
        }
    color: $color-text-light;
    text-transform: uppercase;
        ul {
            padding: {
                left: 0;
            }
        }
        li {
            display: inline-block;
            padding: em(10) em(20);
            margin-right: em(30);
            border-radius: em(3);
            &:last-child {
                margin: 0;
            }
        }
        a {
            text-decoration: none;
            color: $color-text-h;
        }
}

.selected {
    background-color: $color-text-h;
    a {
        color: $color-text-light;
        }   
}

h1 {
    font: {
        family: $font-family-1;
        size: em(50);
        }
    color: $color-text-h;
    text-transform: uppercase;
}

div {
    max-width: em(960);
    margin: 0 auto;
    article {
        padding: {
            top: em(10);
        }
        text-align: left;
        p {
            text-indent: em(50);
        }
    }
}

#profil p {
    text-indent: 0;
    margin-bottom: em(10);
    padding-bottom: em(20);
    border-bottom: em(1) solid $color-text-navy;
    &:last-child {
        border-bottom: none;
    }
}

#kontakt {
    
    p {
       color: $color-text-navy; 
    }
    a {
        text-decoration: none;
        color: $color-text-h;
        margin: {
                top: em(10);
            }
        font: {
                family: $font-family-1;
                size: em(20);
                weight: 700;
            }
    }
}

// --- *** --- VYTVARANIE GOMBIKOV --- *** ---
// prva mozno => @mixin buttons potom sa vpisuje @include buttons;
// druha => .nazov => @extend .nazov;
// tretia => %nazov => @extend %nazov;
%foot {
    a {
        text-decoration: none;
        color: $color-text-navy;
        font: {
            family: $font-family-1;
            size: em(20);
            weight: 700;
        }
    }
}

footer {
    display: relative;
    margin: em(50);
    padding: em(10) em(30);
    border-top: em(1) solid $color-text-navy;
    @extend %foot;
    @include clearfix;
}

.pictlink {
    float: left;
}

.cvlink {
    float: right;  
}

/*
 * Navigataur: A pure CSS responsive navigation menu
 * original author: Mike King (@micjamking)
 * my changes... Jurajisko
 */

/*
 	Notes:
 
 	- Media queries should be edited in both style sections if you require 
	  a different breakpoint for your navigation.
	  
	- Toggle class & menu anchor tags in list items have box-sizing: border-box 
	  style property to allow padding inside the container without conflicting with layout.	

*/


/*--------------------------------
 Functional Styles (Required)
---------------------------------*/


#toggle, .toggle { display: none; }


/* Nicolas Gallagher micro clearfix */


@media only screen and (max-width: em(700)) {
	.menu { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; box-sizing: border-box; }
    .toggle {
        display: block;
        position: relative;
        cursor: pointer; 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
	#toggle:checked + div .menu { display: block; opacity: 1;}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/


@media only screen and (max-width: em(700)) {
    h1 {
        font: {
            family: $font-family-1;
            size: em(30);
        }
        color: $color-text-h;
        text-transform: uppercase;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        a {
            font: {
                size: em(16);
            }
        }
    }

    .pictlink {
        float: none;
    }
    
    .cvlink {
        float: none;  
    }

    .nav {
        margin-top: em(0);
    }

	.menu {
        text-align: right;
        max-width: 40%;
        padding: {
            left: 0;
            bottom: 0;
            }
        margin: 0;
        font: {
            size: $font-size-basic;
            weight: 700;
            }
        background-color: $color-text-h;
        //border-top: em(3) solid #222;
        li {
            border-bottom: em(3) solid #222;
            &:last-child{
                border-bottom: none;
            }
            }
        a {
            color: $color-text-light;
            letter-spacing: em(4);   
            }
    }

    /*.menu,
    .menu > li, 
    .menu > li > a {
        height: auto;transition: all 1s linear;
    }*/
    
	/*.menu > li > a {
        border-bottom: em(1) solid $color-text-light;
    }*/
    
	.menu > li > a:hover, .menu > li > a:focus {
        border-radius: 0;
        background-color: $color-text-h;
        color: $color-text-light;
        text-decoration: underline;
        
	}
	
	.toggle:after {
        content: attr(data-open);
        display: block;  
        text-align: center;
        width: 100%;
        padding: em(17) 0;
		background-color: #222222;
		color: #FFFFFF;
		transition: all 0.5s linear;
        box-sizing: border-box;
        font: {
            family: $font-family-1;
            size: em(30);
            weight: 700;
            }
        text-transform: uppercase;
        letter-spacing: em(3.5); 
    }
    
	.toggle:hover:after{
        
        color: $color-text-h;
    }
    
	#toggle:checked + div .toggle:after{
        content: attr(data-close);
        letter-spacing: em(6);
	}
}
