.btn01, .btn02 {
  font-size: 0.875em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.14286em 1.92857em;
  margin-right: 2.14286em;
  letter-spacing: 0.21429em;
  color: white;
  background-color: lightcoral;
  border-radius: 0.5em; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*{outline: 2px solid black;} */
body {
  margin: 0 auto;
  background-color: white;
  color: #aaaaaa;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 100%;
  line-height: 1.625em;
  text-align: center;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  height: auto; }

header {
  margin: 3.4375em auto; }
  header h1 {
    font-size: 2.1875em; }
  header span {
    color: dimgrey; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

div {
  max-width: 21.875em;
  margin: 0 1.25em;
  padding-top: 1.25em;
  border-top: 0.0625em solid #aaaaaa;
  border-bottom: 0.0625em solid #aaaaaa; }
  div h1 {
    color: dimgrey; }

section {
  margin: 3.75em auto; }

.btn02 {
  background-color: #fbbbff;
  margin-right: 0; }

.btn a:hover,
.btn a:focus {
  background-color: #222222;
  transition: all 1.5s; }

footer {
  margin: 0 1.25em;
  padding: 0 1.875em;
  border-top: 0.0625em solid #aaaaaa;
  display: flex;
  justify-content: flex-end; }

footer p {
  font-size: 0.6875em; }

@media (max-width: 71.875em) {
  main {
    max-width: 60em;
    margin: 0 auto;
    padding: 1.25em;
    justify-content: flex-start;
    flex-direction: column; }

  div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: none;
    max-width: 100%;
    height: auto;
    padding-top: 1.875em;
    padding-bottom: 1.875em; }
    div a {
      order: 1;
      flex: 1 100%;
      margin: 0;
      padding: 0; }
    div section {
      order: 2;
      flex: 1 100%;
      padding: 0.625em;
      margin: 0; }

  div:last-child {
    border-bottom: 0.0625em solid #aaaaaa; }

  .btn {
    margin: 2.5em auto 4.28571em; } }
@media (max-width: 53.75em) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }
    .btn a {
      margin-right: 0;
      margin-bottom: 0.71429em; }

  .btn a:last-child {
    margin-bottom: 0; } }
@media (max-width: 50em) {
  header h1 {
    font-size: 1.875em;
    line-height: 1.33333em;
    display: block;
    margin: 0 auto;
    width: 11em; }

  main {
    max-width: 100%;
    margin: 0 auto; }

  div {
    display: block; }
    div section {
      max-width: 21.875em;
      margin: 0 auto; } }
