//
// VARIABLES
// -------------------------------------------------------

$color-bg-page: #fff;
$color-dark: #222;
$color-badge: #f55d4b;

$color-light: #ECEFF1;
$color-shadow: #aaa;

$font-size-basic: 100%;
$font-family-1: 'Montserrat', sans-serif;;
$font-family-2: 'Amatic SC', cursive;

//
//	MIXINS
// ------------------------------------------------------

// Prepocet na hodnoty EM pre responzivny dizajn!!!
@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}

// @include clearfix; tento zapis pridat k rodicovskemu elementu class ktory ma floatovane deti
@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}

// box-sizing
@mixin box-sizing( $value ) {
	box-sizing: $value;
}

html { @include box-sizing(border-box); }
*, *:before, *:after { box-sizing: inherit; }

// vykreslenie hranic elementov
//*{outline: 2px solid black;}

// CODE
body {
    margin: 0 auto;

    background-color: $color-bg-page;
    color: $color-dark;

    font-family: $font-family-1;
    font-size: $font-size-basic;
    line-height: em(26);

    background: url('../img/background_dark.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

    text-align: center;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;

    
}

img {
    max-width: 100%;
    height: auto;
    border: em(5) solid #222;
    border-radius: em(20);
}

#overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
}

#overlay img {
	margin-top: 10%;
	border: 5px solid lightblue;
  border-radius: 5px;
  
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: column wrap; 
    margin: em(80) auto;
    max-width: em(960);   
}

.post {
    position: relative;
    
    max-width: em(350);
    max-height: em(450);
    background-color: rgba(21, 24, 35, 0.7);
    box-shadow: inset em(2) em(2) em(10) rgba(0,0,0,0.3);
    border-radius: em(20);	
}

.post:after {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    filter: blur(50px);
    transform: scale(1.25);
    background: linear-gradient(45deg, #fb0094, #0000ff);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
	0% { background-position: 0 50%;}
	50% { background-position: 100% 50%; }
	100% { background-position: 0 50%; }
}

h1 {
  padding: 0;
  margin: 0;
  font-family: $font-family-1;
  font-weight: 100;
}

#wrapper {
  text-align: center;
  margin-bottom: em(70);
}

.sub {
    position: relative;
    top: em(20);
    color: #64dcdc;
    letter-spacing: 1em;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: em(2);
  text-shadow: em(-2) 0 #ff00c1;
  clip: rect(em(44), em(450), em(56), 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: em(-2);
  text-shadow: em(-2) 0 #00fff9, em(2) em(2) #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(em(75), em(9999), em(83), 0);
    transform: skew(0.89deg);
  }
  5% {
    clip: rect(em(63), em(9999), em(67), 0);
    transform: skew(0.36deg);
  }
  10% {
    clip: rect(em(84), em(9999), em(85), 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(em(87), em(9999), em(79), 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(em(59), em(9999), em(4), 0);
    transform: skew(0.83deg);
  }
  25% {
    clip: rect(em(81), em(9999), em(88), 0);
    transform: skew(0.07deg);
  }
  30% {
    clip: rect(em(4), em(9999), em(92), 0);
    transform: skew(0.93deg);
  }
  35% {
    clip: rect(em(86), em(9999), em(21), 0);
    transform: skew(0.82deg);
  }
  40% {
    clip: rect(em(6), em(9999), em(5), 0);
    transform: skew(0.93deg);
  }
  45% {
    clip: rect(em(80), em(9999), em(72), 0);
    transform: skew(0.07deg);
  }
  50% {
    clip: rect(em(63), em(9999), em(42), 0);
    transform: skew(0.36deg);
  }
  55% {
    clip: rect(em(2), em(9999), em(62), 0);
    transform: skew(0.92deg);
  }
  60% {
    clip: rect(em(58), em(9999), em(27), 0);
    transform: skew(0.76deg);
  }
  65% {
    clip: rect(em(67), em(9999), em(54), 0);
    transform: skew(0.83deg);
  }
  70% {
    clip: rect(em(60), em(9999), em(86), 0);
    transform: skew(0.6deg);
  }
  75% {
    clip: rect(em(78), em(9999), em(17), 0);
    transform: skew(0.88deg);
  }
  80% {
    clip: rect(em(54), em(9999), em(95), 0);
    transform: skew(0.01deg);
  }
  85% {
    clip: rect(em(98), em(9999), em(17), 0);
    transform: skew(0.49deg);
  }
  90% {
    clip: rect(em(72), em(9999), em(60), 0);
    transform: skew(0.61deg);
  }
  95% {
    clip: rect(em(91), em(9999), em(2), 0);
    transform: skew(0.29deg);
  }
  100% {
    clip: rect(em(58), em(9999), em(63), 0);
    transform: skew(0.85deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(em(87), em(9999), em(90), 0);
    transform: skew(1deg);
  }
  5% {
    clip: rect(em(45), em(9999), em(53), 0);
    transform: skew(0.73deg);
  }
  10% {
    clip: rect(em(67), em(9999), em(91), 0);
    transform: skew(0.97deg);
  }
  15% {
    clip: rect(em(8), em(9999), em(33), 0);
    transform: skew(0.24deg);
  }
  20% {
    clip: rect(em(79), em(9999), em(25), 0);
    transform: skew(0.34deg);
  }
  25% {
    clip: rect(em(89), em(9999), em(75), 0);
    transform: skew(0.27deg);
  }
  30% {
    clip: rect(em(91), em(9999), em(31), 0);
    transform: skew(0.65deg);
  }
  35% {
    clip: rect(em(53), em(9999), em(57), 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(em(25), em(9999), em(78), 0);
    transform: skew(0.62deg);
  }
  45% {
    clip: rect(em(6), em(9999), em(96), 0);
    transform: skew(0.01deg);
  }
  50% {
    clip: rect(em(31), em(9999), em(31), 0);
    transform: skew(0.17deg);
  }
  55% {
    clip: rect(em(45), em(9999), em(40), 0);
    transform: skew(0.07deg);
  }
  60% {
    clip: rect(em(91), em(9999), em(88), 0);
    transform: skew(0.46deg);
  }
  65% {
    clip: rect(em(33), em(9999), em(15), 0);
    transform: skew(0.95deg);
  }
  70% {
    clip: rect(em(23), em(9999), em(100), 0);
    transform: skew(0.71deg);
  }
  75% {
    clip: rect(em(36), em(9999), em(95), 0);
    transform: skew(1deg);
  }
  80% {
    clip: rect(em(98), em(9999), em(12), 0);
    transform: skew(0.05deg);
  }
  85% {
    clip: rect(em(17), em(9999), em(51), 0);
    transform: skew(0.03deg);
  }
  90% {
    clip: rect(em(100), em(9999), em(94), 0);
    transform: skew(0.04deg);
  }
  95% {
    clip: rect(em(94), em(9999), em(73), 0);
    transform: skew(0.58deg);
  }
  100% {
    clip: rect(em(51), em(9999), em(15), 0);
    transform: skew(0.81deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(-3deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(1deg);
  }
  50% {
    transform: skew(3deg);
  }
  60% {
    transform: skew(-2deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(-4deg);
  }
  90% {
    transform: skew(-1deg);
  }
  100% {
    transform: skew(0deg);
  }
}

%foot {
  a {
      text-decoration: none;
      color: $color-shadow;
      font: {
          family: $font-family-2;
          size: em(20);
          weight: 700;
      }
  }
}

footer {
  display: block;
  margin: em(50);
  padding: em(10) em(30);
  border-top: em(1) solid $color-shadow;
  @extend %foot;
  @include clearfix;
  a {
    float: right;
    }

}



@media (max-width: em(600)) {
    .post {
        max-width: em(300);
        max-height: em(380);
    }

    #wrapper {
        font-size: em(12);
    }
}




