//
// VARIABLES
// -------------------------------------------------------

$color-bg-page: #fff;
$color-dark: #222;

$color-light: #ECEFF1;
$logo-shadow: #aaa;

$font-size-basic: 100%;
$font-family-1: 'Kumbh Sans', sans-serif;

//
//	MIXINS
// ------------------------------------------------------

// Prepocet na hodnoty EM pre responzivny dizajn!!!
@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}

// @include clearfix; tento zapis pridat k rodicovskemu elementu class ktory ma floatovane deti
@mixin clearfix {
	&:before,
	&:after { content: " "; display: table; }
	&:after { clear: both; }
}

// box-sizing
@mixin box-sizing( $value ) {
	box-sizing: $value;
}

html { @include box-sizing(border-box); }
*, *:before, *:after { box-sizing: inherit; }

// vykreslenie hranic elementov
//*{outline: 2px solid black;}

// CODE
body {
    margin: 0 auto;

    background-color: $color-bg-page;
    color: $color-dark;

    font-family: $font-family-1;
    font-size: $font-size-basic;
    line-height: em(26);

    text-align: center;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

input {
    position: absolute;
    display: none;
}

img {
	max-width: 70%;
    height: auto;
    padding-top: em(4);
    background-color: $color-light;
    
}

.menu {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: em(-((64*2)/2));
    margin-top: em(-((64*2)/2));
}

.btn {  
    width: em(64*2);
    height: em(64*2);
    
    border-radius: 50%;
    background: $color-light;

    position: absolute;
    overflow: hidden;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    //box-shadow: 0 em(1) em(3) rgba( 0, 0, 0, 0.12 ),
    //            0 em(1) em(2) rgba( 0, 0, 0, 0.24 );
    transition: all 0.3s cubic-bezier( .25, .8, .25, 1 );
}




.btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all .6s cubic-bezier( .87, -.41, .19, .44 );
}

// top, left for child transition-delay
%t-l {
    top: 0;
    left: 0;
}

.btn:nth-child(2) {
    @extend %t-l;
    transition-delay: 0s;
}

.btn:nth-child(3) {
    @extend %t-l;
    transition-delay: 0.1s;
}

.btn:nth-child(4) {
    @extend %t-l;
    transition-delay: 0.2s;
}

.btn:nth-child(5) {
    @extend %t-l;
    transition-delay: 0.3s;
}

.btn:nth-child(6) {
    @extend %t-l;
    transition-delay: 0.4s;
}

.btn:nth-child(7) {
    @extend %t-l;
    transition-delay: 0.5s;
}

.btn:nth-child(8) {
    @extend %t-l;
    transition-delay: 0.6s;
}



input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top: em(-180);
    left: em(0);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top: em(-112.2281643);
    left: em(140.7296668);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    top: em(40.05376811);
    left: em(175.4870242);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    top : em(162.1743962);
    left: em(78.09907304);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    top: em(162.1743962);
    left: em(-78.09907304);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(7) {
    top: em(40.05376811);
    left: em(-175.4870242);
    opacity: 1;
}

input#toggle:checked ~ #show-menu .btn:nth-child(8) {
    top: em(-112.2281643);
    left: em(-140.7296668);
    opacity: 1;
}



.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn {
    transform: translateY(em(50));
    opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(em(-50));
    opacity: 0;
}

input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(em(0));
    opacity: 1;
}