body, html {
    margin: 0;
}

/* *{
    outline: 2px solid black;
} */

::-moz-selection{ background:  	#fff; color: #888888; text-shadow: none; }
::selection{ background: #fff; color: #888888; text-shadow: none; }

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    margin: 0 auto;
    width: 1520px;
    line-height: 26px;
    text-align: center;
}

.hlava {
    font-weight: 700;
    position: relative;
}


.logo {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.menuhore {
    
    margin: 0;
    list-style: none;
    padding-left: 200px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffcccc;
    
}

.menuhore li, .menuhore a {
    
    display: inline-block;
    text-decoration: none;
    
    font-size: 14px;
    margin-left: -13px;
    
    padding: 10px 20px 10px 20px;
    
    color: dimgrey;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.menuhore li {
    padding-left: 15px
}

.menuhore a:hover {
    display: block;
    background-color: #222;
    border-radius: 3px;
    color: lightgrey;
    border-radius: 7px;
    transition: all .5s;
}

.pool {
    
    background: url('../img/food2_png.png') 50% 0px no-repeat;
    background-color: #fff;

    margin: 0 20% 0;
}

.nadpis {
    
    padding-top: 450px;
    font-size: 30px;
    color: lightcoral;
}

.note {

    padding: 50px 10%;
    margin-bottom: 20px;

}

.btn {
    margin-bottom: 80px;
}

.btn a {
    
    padding: 15px 40px;
    background-color: lightcoral;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
}

.btn a:hover {
    background-color: #222222;
    color: #fff;
    transition: all 1s;
}

.foot {
    background-color: #CD1400;
}

.foot {
    padding-top: 100px;
}

.icons {
    margin: 0 auto;
    display: inline-block;
}

.icon {
    margin-right: 20px;
    filter: invert(1);
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
    filter: invert(0);
    transition: .5s;
}

.icon0  {
    margin-right: 0;
}

.zaver {
    opacity: 0.3;
    margin-top: 50px;
}

.signature {
    background-color: #CD1400;
    margin-top: 80px;
    margin-bottom: 0px;
}

.signature p {
    font-size: 12px;
    margin: 0 15px;
    color: #222;
    text-align: right;
    padding: 15px 15px 15px;
    border-top: 1px solid dimgrey;
    opacity: 0.3
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}