body, html {
    margin: 0 auto;
}

/*{
    outline: 2px solid black;
}*/

::-moz-selection{ background:  	#fff; color: #888888; text-shadow: none; }
::selection{ background: #fff; color: #888888; text-shadow: none; }

body {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    margin: 0 auto;
    width: 1520px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

#hlava {
    background: #fff url('../img/web22.jpg') 50% 0 no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 1;
}

.menuhore {
    background-color: red;
    background-color: #ff000047;
    list-style: none;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: right;
    padding-right: 15px;
}

.menuhore li, 
.menuhore a {
    margin-right: 0px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.menuhore a:hover {
    display: block;
    background-color: #222;
    border-radius: 3px;
    color: lightgrey;
    border-radius: 7px;
    transition: all .5s;
}

.snow {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 30px;
}

.snow a {
    font-size: 80px;
    background-color: #222;
    padding: 15px 40px;
    border: 7px solid #222;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
}

.snow a:hover {
    background-color: #fff;
    color: #222;
    transition: all 1.5s;
    border: 7px solid #222;
}

.logo {
    margin: 100px 400px;
}

.logo a {
    display: block;
    width: 160px;
    height: 100px;
    background-color: #CD1400;
    border: 7px solid #222;
    border-radius: 50%;
    background-image: url('../img/training.png');
    background-position: 20% 50%;
    background-size: 85%;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.important {
    color: #EFC958;
}

.topic {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin-top: 300px;
    margin-bottom: 80px;
}

.topic2 {
    color: #fff;
    font-size: 21px;
    padding-bottom: 300px;
    font-weight: normal;
}

#art {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

#art h2 {
    text-transform: uppercase;
    
    border-bottom: 2px solid dimgrey;
    /*margin-left: 60px;
    margin-right: 60px;*/
    line-height: 50px;
}

.about {
    margin: 50px 210px;
    font-size: 20px;
}

.topic3 {
    border-bottom: 2px solid dimgrey;
    text-transform: uppercase;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 50px;
    font-size: 35px;
}

#art .note {
    margin: 0 0 40px;
    padding: 20px 30px;  
}

#art .sec1 {
    float: left;
    width: 450px;
} 

#art .sec2 {
    float: right;
    width: 450px;
} 

.foot {
    background-color: #CD1400;
    margin-top: 80px;
    margin-bottom: 0px;
    border-top: 1px solid #222;
}

.wall {
    float: left;
    width: 370px;
    font-size: 12px;
    margin: 15px;
}

.wall a {
    text-decoration: none;
    color: #222; 
}

.signature p {
    font-size: 12px;
    margin: 0 15px;
    color: #222;
    text-align: right;
    padding: 15px 15px 15px;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}


















