body, html {
    margin: 0;
}

/* *{
    outline: 2px solid black;
} */

::-moz-selection{ background: lightgrey; color: #222; text-shadow: none; }
::selection{ background: lightgrey; color: #222; text-shadow: none; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: lightgrey;
    line-height: 26px;
}

.hlava {
    background-color: #fff;
    margin: 0;
    padding: 30px 0 20px;
    text-align: center;
}

.top {
    font-size: 47px;
}    

.top a {
    text-decoration: none;
    color: #222;   
}


.menuhore {
    margin: 0;
    padding-left: 1px;
    list-style: none; 
}
  
.menuhore li,
.menuhore a {
    padding: 3px 23px;
    margin: 0 3px;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
    color: #222;
}

.menuhore a:hover {
    display: block;
    background-color: lightgray;
    border-radius: 3px;
}

.foot {
    background-color: #222;
    color: #bb2475;
    margin: 0;
    padding-left: 0; /* ul elementy maju same od seba lavy padding, zrusime */
    text-align: left;
    /*list-style: none; /* toto zrusi tie bodky v zoznamoch */
}

.f1, .f2, .f3{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    
}

.f1 a, .f2 a, .f3 a {
    text-decoration: none;
    color: #bb2475;
}

.f1 a:hover, .f2 a:hover, .f3 a:hover{
    color: #bada55;
}


.pool {
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

.pict img{
    display: block;
    width: 100%;
    margin-top: 0;
}

.main {
    display: block;
    float: left;
    width: 63%;
    margin: 80px 10px 75px;
    background-color: #fff;    
}

.main section {
    padding: 35px 25px;
}

.bocneokna {
    display: block;
    float: right;
    width: 30%;
    vertical-align: baseline;
    margin-top: 80px;
}

.druheokno {
    margin-top: 50px;
}

.prveokno section, .druheokno{
    background-color: #fff;
    padding: 0 20px 30px;
}

.zoznam_druheokno ul,
.zoznam_druheokno ol {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.zoznam_druheokno li {
    border-bottom: 1px solid #bb2475;
    padding: 10px 10px;
}

.zoznam_druheokno a {
    text-decoration: none;
    color: #bb2475;
}

.zoznam_druheokno a:hover {
    color: #222;
}

.firsth {
    font-size: 40px;
    margin: 0;
}

.prveokno h1 {
    margin: 0;
    padding-top: 30px;
}


.pool h2 {
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    margin-top: 25px;
    padding-bottom: 10px; 
}

.pool p {
    font-size: 16px;
    margin-bottom: 37px;
}

.btn {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 15px 20px;  
    background: #222;
    cursor: pointer;
}

.btn:hover {
    background: lightcoral;
    transition: 1.5;
}

.btn2 {
    margin-top: 30px;
}

.signature{
    background: #222;
}

.signature p {
    background-color: #222;
    margin: 0 15px;
    color: #FFF;
    text-align: right;
    padding: 5px 15px 15px;
    border-top: 1px solid #bb2475;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}