body, html {
    margin: 0;
}

/* *{
    outline: 2px solid black;
} */

::-moz-selection{ background: #4a525a; color: #222; text-shadow: none; }
::selection{ background: #4a525a; color: #222; text-shadow: none; }

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #4a525a;
    font-size: 14px;
    line-height: 24px;
    color: lightgrey;
    -webkit-font-smoothing: antialiased; 
}

.pool {
    margin: 10% 20% auto 30%;
    text-align: left;
}

.asidemenu {
    
    float: left;
    max-width: 200px;
    text-align: right;
    
}

.asidemenu a {
    font-weight: 700;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: lightgray;
    letter-spacing: 7px;
}

.asidemenu p {
    margin-top: 8px;
}

.menu {
    line-height: 22px;
    margin-top: 40px;
    padding-left: 0;
    list-style: none;
    
}

h1 {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
    color: lightgray;
    letter-spacing: 2px;
    font-weight: normal;
    text-decoration: underline;
}

.star a {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
    color: lightgray;
    letter-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
}

.star h1, .star a {
    display: inline-block; 
}

.main {
    padding-left: 250px;
}

.hlava {
    padding-left: 30px;
    padding-bottom: 50px;
}

.asideline {
    padding-left: 10px;
    border-left: 1px solid lightgrey;
}

.note01 {
    margin-bottom: 70px;
}

.textlink {
    color: darkgrey;
}


.signature p {
    background-color: #4a525a;
    
    color: lightgray;
    text-align: right;
    padding: 5px 0 10px;
    border-top: 1px solid lightgray;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

